body{

    background-color: darksalmon;

align-content: flex-start;
    flex-direction: column;
    text-align: center;
    color: lightcyan;
    list-style-type: circle;
    list-style-type: center;
    font-size: 25px;
}

h1{
    

    font-size: 100px;

    text-align: center;
    color:lightcyan;
    
}



ul{
    list-style-type: none;
 
}
 




    
